:root{
    --border-color: #000;
}

.formatter {
    display: grid;
    grid-template-areas:    "habits    todos" 
                            "weeklyGoals    priorities";
    padding-left: 100px;
    padding-right: 50px;
    gap: 0 50px;
}

.container {
    margin-left: 10%;
    width:20%;
    border-radius: 10px;
    padding: 5px 0px 10px 0px;
}

.border-2 {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.card-2 {
    margin-bottom: 5px;
    width: clamp(fit-content, 40%, 40%);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.habit-card {
    margin-bottom: 5px;
    width: clamp(fit-content, 40%, 40%);
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50%;
}

.habit {
    margin-bottom: 0px;
    padding: 10px
}

.habit-2 {
    padding-left: 30px;
    padding-top: 25px;
}

.subheader {
    width: clamp(fit-content, 40%, 40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-padding {
    padding: 20px;
    flex: 2;
}

.hover :hover {
    color: rgb(216, 95, 25);
    text-decoration: underline;
}